body{
    background-color: #232323;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container{
    margin: 0 auto;
    max-width: 600px;
}

h1{
    color: white;
}

span {
    color: white;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
    background: blue;
}