

body{
border-color: 20px solid #bdc3c7;
padding: 20px;
width: 700px;
margin: 20px auto;
max-width: 700px;
width: 80%;
font-family: Source-Sans Pro;
} 

.quote {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}


.date {
   color: #3498db;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}


h2 {
    color: #2c3e50;
    font-size: 2.0rem;
}

.post {
    margin-bottom: 20px;
}

/* Gradient transparent - color - transparent */

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}