<head>
    <title>Registration Form</title>
</head>
<body>
<h1>Register</h1>
    
<form>
    <label for="first">First Name:</label>
<input name="first"id="first"type="text" placeholder="john" required>

    <label for="last">Last Name:</label>
<input name="last"id="last" type="text" placeholder="doe" required>

<div>
    <label for="male">male</label>
<input name="gender"type="radio" value="male"> 

<label for="female">female</label>
<input name="gender"type="radio" value="female">

<label for="other">other</label>
<input name="gender"type="radio" value="other">
</div>

<div>
<label>
    email:
<input name="email"type="email" placeholder="your email" required>

</label>
<label>
password:
<input name="password"type="password" required pattern=".{5,10}" required title="5 to 10 characters"> 
</label>

</div>
<div>
<label>
    Birthday:
<select name="month">
        <option>jan</option>
        <option>feb</option>
    <option>march</option>
</select>
<select name="day">
        <option>1</option>
        <option>2</option>
        <option>3</option>
</select>
<select name="year">
        <option>90</option>
        <option>91</option>
        <option>92</option>
</select>
</label>
</div>

<div>
<label for ="agreed">I agree</label>
<input type="checkbox" id="agreed" name="agreed">

</div>
<input type="submit">
</form>

</body>