body {
    padding-top: 70px;
}

.jumbotron {
  color:  #2c3e50;
  background: #ecf0f1;
}

.navbar-inverse {
    background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
    color:white;
}
.navbar-inverse .navbar-brand {
    color: white;
}